AIO_runtime_auth=
AIO_runtime_namespace=
AIO_runtime_apihost=https://adobeioruntime.net
#this value available from JSON file downloaded through workspace --> Downlaod all (oauth_server_to_server.client_id)
SERVICE_API_KEY=
#OMS Details
#Pwd can be retrieved Selfservice --> Environment --> Select Environment --> Certificate -->
OMS_CLIENT_CERT_PASS=
#Base URL refer from OMS Selfservice --> Environment --> Select Environment --> Copy from Environment details/order #management
OMS_API_BASE_URL=
OMS_USERNAME=
OMS_PASSWORD=
OMS_ADMIN_USERNAME=
OMS_ADMIN_PASSWORD=
#Adobe Commerce
#Can find from Commerce cloud
COMMERCE_BASE_URL=
#From Commerce Admin --> System --> Create New integration and activate --> Click on edit integration --> find details under #Integration Details
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=
# AppBuilder
#this value available from JSON file downloaded through workspace --> Downlaod all --> project.org.ims_org_id
AIO_EVENTS_ORG_ID=
AIO_EVENTS_API_KEY=
APPBUILDER_CLIENT_ID=
#this value available from JSON file downloaded through workspace --> Downlaod all (oauth_server_to_server.client_secrets[0])
APPBUILDER_CLIENT_SECRET=
APPBUILDER_CLIENT_SCOPE=adobeio_api,openid,read_client_secret,AdobeID,read_organizations,additional_info.roles,manage_client_secrets,additional_info.projectedProductContext,event_receiver_api
APPBUILDER_CLIENT_OAUTH_URL=https://ims-na1.adobelogin.com/ims/token/v3
# Event and Provider Custom
AIO_EVENTS_CUSTOM_PROVIDER_ID=
AIO_EVENTS_ORDER_HOLD_EVENT_CODE=ibm.sterling.appbuilder.order_hold.v0
AIO_EVENTS_ORDER_JOURNALLING_EVENT_CODE=ibm.sterling.adobe.creditmemo_process.v0
# URLS
OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/
# OAUTH configs
# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
#OAUTH_SCOPES=adobeio_api,openid,read_client_secret,AdobeID,read_organizations,additional_info.roles,manage_client_secrets,additional_info.projectedProductContext,event_receiver_api
OAUTH_SCOPES=AdobeID,openid,read_organizations,additional_info.projectedProductContext,additional_info.roles,adobeio_api,read_client_secret,manage_client_secrets,event_receiver_api
# Workspace configs
# The following values can be copied from the JSON downloadable in AppBuilder from Organization > Project > Workspace
# IO_CONSUMER corresponds to project.org.id
# IO_PROJECT_ID corresponds to project.id
# corresponds to project.workspace.id
IO_WORKSPACE_ID=
# AppBuilder Details
# this value available from JSON file downloaded through workspace --> Downlaod all (project.org.id)
IO_CONSUMER_ID=
# This value available from JSON file downloaded through workspace (project.id)
IO_PROJECT_ID=
# This value available from JSON file downloaded through workspace (project.workspace.id)
SCHEDULE_MINUTES_HOLD_OMS=1
# Add Configuration for Shipment Invoice generated true false , by default it is YES/True
# Auto Generated based on Workspace Selection
PAYMENT_AUTHORIZATION_SPAN=4
RESERVATION_EXPIRE_MINUTES=2
CREDIT_MEMO_SHIPPING_CONFIG=true
HOLD_AMOUNT=500
JOURNALLING_URL=
technical_account_email=""
technical_account_id=""
